/****************************************Start styles start*************************************************/
html {
    height: 100vh;
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Stolzl', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #444748;
}
section {
    position: relative;
    overflow: visible;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #2D3132;
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
}
h4{
    font-size: 10px;
}
.main-content {
    overflow: hidden;
}
.body-blocked{
    overflow: hidden;
}
/****************************************Start styles end***************************************************/
/****************************************header syles start***************************************************/
.main-header {
    width: 100%;
    border-bottom: 1px solid #E0E3E3;
}
.commercial-block {
    height: 44px;
    background-color: #CBDCFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.commercial-block__image {}
.commercial-block__text {
    font-size: 16px;
    color: #0F1A34;
}
.main-header__wrap {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E3E3;
}
.logo-block {}
.logo-block__image {}
.header-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-box__input {
    min-width: 639px;
    height: 40px;
    border: 1.6px solid #E0E3E3;
    border-radius: 4px;
    padding: 0 40px 0 52px;
    margin-right: 24px;
    outline: none;
    background-image: url("../img/header/magnifying-glass-icon.svg");
    background-repeat: no-repeat;
    background-position: 18px center;
}
.header-box__input::-webkit-input-placeholder,
.header-box__input::-moz-placeholder,
.header-box__input::placeholder {
    font-family: "Stolzl Book";
    font-size: 12px;
    color: #5C5F60;
}
.button {}
.header-box__button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    height: 38px;
    padding: 0 20px;
    margin-right: 24px;
    background-color: #2D3132;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
}
.header-box__language-select {
    margin-right: 24px;
    border: none;
    outline: none;
    font-size: 12px;
    color: #2D3132;
}
.header-box__alerts-block {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}
.alert-block{
    position: relative;
    cursor: pointer;
}
.alert-block__counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: 5px;
    width: 16px;
    height: 16px;
    border: 2.4px solid white;
    border-radius: 13px;
    background-color: #EFF1F1;
    font-size: 10px;
    color: #2D3132;
}
.alert-block__counter_new{
    background-color: #FF5449;
    color: #fff;
}
.alert-block__image {
    padding: 0 12px;
}
.user-menu {}
.user-menu__image{
    margin-right: 8px;
}
.user-menu__button {}
.arrow-down {}
.main-header__menu {}
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.menu-list__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 52px;
}
.menu-list__link {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    padding: 0 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #444748;
}
/****************************************header syles end*****************************************************/
/****************************************main syles start*****************************************************/
.main-content {
    height: 100%;
}
.main-content__link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.main-content__link {}
.main-content__headline {}
.main-content__wrap{
    display: flex;
    flex-direction: row;
}
.filter-block {
    width: 312px;
}
.catalog-block {
    width: calc(100% - 312px);
}
.catalog-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-filter__text {}
.catalog-filter__select {}
.catalog-content {}
.catalog-card {
    width: fit-content;
    border: 1px solid #EFF1F1;
    border-radius: 4px;
    padding: 24px;
}
.catalog-card__headline-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-card__heart-icon {

}
.catalog-card__image-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.catalog-card__image {}
.catalog-card__badge {
    font-size: 10px;
    color: #00382F;
    text-transform: uppercase;
    background-color: #B4FFF0;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 4px 8px;
    font-weight: 400;
    line-height: 1.5;
}
.catalog-card__brand-name {
    margin-bottom: 4px;
}
.catalog-card__name {
    margin-bottom: 24px;
}
.catalog-card__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalog-card__price-block {}
.catalog-card__old-price {}
.catalog-card__current-price {}
.catalog-card__info-block {}
.catalog-card__location-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4px;
}
.catalog-card__location-icon {}
.catalog-card__location-city {}
.catalog-card__company-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-card__company-logo {}
.catalog-card__company-name {}
/****************************************main syles end*******************************************************/
/****************************************footer syles start***************************************************/
.main-footer {
    background-color: #EFF1F1;
    padding: 72px 0 24px;
}
.main-footer__wrap {
    padding-bottom: 72px;
    border-bottom: 1px solid #C4C7C7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.footer-block {
    width: 25%;
}
.footer-block__list-item:not(:last-child) {
    margin-bottom: 12px;
}
.social-block {
    width: 25%;
}
.social-block__headline {
    font-weight: 400;
    line-height: 1.5;
    color: #2D3132;
    margin-bottom: 12px;
}
.social-block__link {
    display: inline-block;
}
.footer-copyright-block {
    padding: 38px 0 14px;
}
.main-footer__copyright-text {
    font-family: 'Stolzl Book';
    font-size: 12px;
    color: #2D3132;
}
/****************************************footer syles end*****************************************************/
