/****************************************Start styles start*************************************************/
html {
    height: 100vh;
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Stolzl', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #444748;
}
section {
    position: relative;
    overflow: visible;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #2D3132;
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
}
h4{
    font-size: 10px;
}
.main-content {
    overflow: hidden;
}
.body-blocked{
    overflow: hidden;
}
/****************************************Start styles end***************************************************/
/****************************************header syles start***************************************************/
.main-header {
    width: 100%;
    border-bottom: 1px solid #E0E3E3;
}
.commercial-block {
    height: 44px;
    background-color: #CBDCFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.commercial-block__image {}
.commercial-block__text {
    font-size: 16px;
    color: #0F1A34;
}
.main-header__wrap {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E3E3;
}
.logo-block {}
.logo-block__image {}
.header-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-box__input {
    min-width: 639px;
    height: 40px;
    border: 1.6px solid #E0E3E3;
    border-radius: 4px;
    padding: 0 40px 0 52px;
    margin-right: 24px;
    outline: none;
    background-image: url("../img/header/magnifying-glass-icon.svg");
    background-repeat: no-repeat;
    background-position: 18px center;
}
.header-box__input::-webkit-input-placeholder,
.header-box__input::-moz-placeholder,
.header-box__input::placeholder {
    font-family: "Stolzl Book";
    font-size: 12px;
    color: #5C5F60;
}
.button {}
.header-box__button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    height: 38px;
    padding: 0 20px;
    margin-right: 24px;
    background-color: #2D3132;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
}
.header-box__language-select {
    margin-right: 24px;
    border: none;
    outline: none;
    font-size: 12px;
    color: #2D3132;
}
.header-box__alerts-block {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}
.alert-block{
    position: relative;
    cursor: pointer;
}
.alert-block__counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: 5px;
    width: 16px;
    height: 16px;
    border: 2.4px solid white;
    border-radius: 13px;
    background-color: #EFF1F1;
    font-size: 10px;
    color: #2D3132;
}
.alert-block__counter_new{
    background-color: #FF5449;
    color: #fff;
}
.alert-block__image {
    padding: 0 12px;
}
.user-menu {}
.user-menu__image{
    margin-right: 8px;
}
.user-menu__button {}
.arrow-down {}
.main-header__menu {}
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.menu-list__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-list__link {
    height: 52px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    padding: 0 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #444748;
    border-bottom: 2px solid transparent;
}
.menu-list__link_active{
    border-bottom: 2px solid #444748;
}
/****************************************header syles end*****************************************************/
/****************************************main syles start*****************************************************/
.main-content {
    height: 100%;
    padding: 32px 0 115px;
}
.breadcrumb{
    --bs--breadcrumb-font-size: 12px;
    --bs-breadcrumb-divider-color: #A9ACAC;
    --bs-breadcrumb-item-active-color: #747778;
}
.breadcrumb-item.active{
    font-family: 'Stolzl Book';
}
.main-content__headline {
    font-weight: 400;
    line-height: 1.5;
    color: #2D3132;
    margin-bottom: 32px;
}
.main-content__wrap{
    display: flex;
    flex-direction: row;
}
.main-content__filter-block{
    margin-right: 24px;
}
.filter-block {
    width: 312px;
}
.filter-block__headline {
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #5C5F60;
}
.accordion {
    --bs-accordion-bg: #EFF1F1;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
    /* --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
    --bs-border-color-secondary: #EFF1F1;
    --bs-accordion-border-color: var(--bs-border-color-secondary);
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
}
.accordion-button::after {
    content: url("../img/main/filter-arrow.svg");
    /* width: 1.25rem; */
}
.accordion-item:not(:last-child) {
    margin-bottom: 6px;
}
.accordion-header {
    font-family: 'Stolzl Book';
    font-weight: 400;
 
    line-height: 1.5;
    color: #444748;
}
.accordion-button {
    font-size: 14px;
}
.accordion-collapse {
    background-color: #fff;
}
.collapse {}
.accordion-body {}
.collapsed {}
.accordion__price-range{
    width: 100%;
    margin-bottom: 25px;
}
.price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price-box__start-block {
    width: 45%;
}
.price-box__text {
    font-family: 'Stolzl Book';
    font-size: 10px;
    color: #747778;
}
.price-box__wrap {
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #C4C7C7;
}
.start-price {
    font-size: 12px;
    color: #2D3132;
}
.price-box__end-block {
    width: 45%;
}
.end-price {
    font-size: 12px;
    color: #2D3132;
}
.form-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-check__wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.form-check-input{
    width: 17px;
    height: 17px;
    margin-right: 18px;
}
.form-check-label{
    font-family: 'Stolzl Book';
}
.form-check__number{
    font-family: 'Stolzl Book';
    color: #747778;
}
.catalog-block {
    width: calc(100% - 312px);
}
.catalog-block__catalog-filter{
    margin-bottom: 24px;
}
.catalog-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-filter__text {}
.catalog-filter__select {
    height: 34px;
}
.catalog-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.catalog-content__catalog-card{
    margin-bottom: 24px;
}
.catalog-card {
    min-width: 312px;
    border: 1px solid #EFF1F1;
    border-radius: 4px;
    padding: 24px;
}
.catalog-card__headline-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-card__headline-wrap_organic{
    justify-content: space-between;
}
.catalog-card__heart-icon {
    cursor: pointer;
}
.catalog-card__image-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 284px;
    margin-bottom: 16px;
}
.catalog-card__image {}
.catalog-card__badge_top {
    font-size: 10px;
    color: #00382F;
    text-transform: uppercase;
    background-color: #B4FFF0;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 400;
    line-height: 1.5;
    align-self: flex-start;
}
.catalog-card__badge_organic{
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: #2D3132;
    padding: 4px 8px;
    background-color: #E0E3E3;
    border-radius: 4px;
}
.catalog-card__brand-name {
    text-transform: uppercase;
    line-height: 1.5;
    color: #5C5F60;
    margin-bottom: 4px;
}
.catalog-card__name {
    font-weight: 400;
    line-height: 1.5;
    color: #2D3132;
    margin-bottom: 24px;
}
.catalog-card__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalog-card__price-block {}
.catalog-card__old-price {
    font-size: 12px;
    text-decoration-line: line-through;
    color: #747778;
}
.catalog-card__current-price {
    font-weight: 500;
    color: #2D3132;
}
.catalog-card__info-block {}
.catalog-card__location-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4px;
}
.catalog-card__location-icon {
    margin-right: 4px;
}
.catalog-card__location-city {
    font-family: 'Stolzl Book';
    font-size: 12px;
    color: #2D3132;
}
.catalog-card__company-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-card__company-logo {
    margin-right: 8px;
}
.catalog-card__company-name {
    color: #2D3132;
}
.catalog-block__pagination-box {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination-list__item {
    border: 1.6px solid #C4C7C7;
    border-radius: 100px;
}
.pagination-list__item:not(:last-child) {
    margin-right: 8px;
}
.pagination-list__item_side-button{
    padding: 4px 12px;
}
.pagination-list__item_bullet{
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination-list__item_bullet-active{
    border-color: #2D3132;
    transform: scale(1.178);
}
.pagination-list__link{
    display: inline-block;
    width: fit-content;
    width: -moz-fit-content;
    color: #5C5F60;
}
.pagination-list__link_side-button{
    font-size: 12px;
}
.pagination-list__link_bullet{
    font-size: 10px;
    font-weight: 500;
}
.pagination-list__link_bullet-active{
    color: #2D3132;
    transform: scale(0.9);
}
/****************************************main syles end*******************************************************/
/****************************************footer syles start***************************************************/
.main-footer {
    background-color: #EFF1F1;
    padding: 72px 0 24px;
}
.main-footer__wrap {
    padding-bottom: 72px;
    border-bottom: 1px solid #C4C7C7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.footer-block {
    width: 25%;
}
.footer-block__list-item:not(:last-child) {
    margin-bottom: 12px;
}
.social-block {
    width: 25%;
}
.social-block__headline {
    font-weight: 400;
    line-height: 1.5;
    color: #2D3132;
    margin-bottom: 12px;
}
.social-block__link {
    display: inline-block;
}
.footer-copyright-block {
    padding: 38px 0 14px;
}
.main-footer__copyright-text {
    font-family: 'Stolzl Book';
    font-size: 12px;
    color: #2D3132;
}
/****************************************footer syles end*****************************************************/