/****************************************Start styles start*************************************************/
html {
    height: 100vh;
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Stolzl', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #2D3132;
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
}
h4{
    font-size: 10px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #2D3132;
}
button, input, optgroup, select, textarea {
    font-size: 12px;
    color: #2D3132;
}
/****************************************Start styles end***************************************************/
/****************************************header syles start***************************************************/
.main-header {
    width: 100%;
    border-bottom: 1px solid #E0E3E3;
}
.commercial-block {
    height: 44px;
    background-color: #CBDCFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.commercial-block__image:nth-child(1) {
    margin-right: 9px;
}
.commercial-block__image:nth-child(2) {
    margin-right: 17px;
}
.commercial-block__text {
    font-size: 16px;
    color: #0F1A34;
}
.main-header__wrap {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E3E3;
}
.header-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-box__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-box__input {
    min-width: 639px;
    height: 40px;
    border: 1.6px solid #E0E3E3;
    border-radius: 4px;
    padding: 0 40px 0 52px;
    margin-right: 24px;
    color: #5C5F60;
    outline: none;
    background-image: url("../img/header/magnifying-glass-icon.svg");
    background-repeat: no-repeat;
    background-position: 18px center;
}
.header-box__input::placeholder {
    font-family: "Stolzl Book";
}
.header-box__button {
    --bs-btn-border-radius-custom: 4px;
    --bs-btn-bg-custom: #2D3132;
    --bs-btn-border-color-custom: #2D3132;
    width: fit-content;
    width: -moz-fit-content;
    height: 38px;
    padding: 0 20px;
    margin-right: 24px;
    font-family: 'Stolzl';
    font-size: 12px;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color-custom);
    border-radius: var(--bs-btn-border-radius-custom);
    background-color: var(--bs-btn-bg-custom);
}
.header-box__language-select-wrap{
    position: relative;
    display: flex;
    min-width: 40px;
    height: 34px;
    overflow: hidden;
    margin-right: 36px;
}
.header-box__language-select {
    border: none;
    outline: none;
    flex: 1;
    appearance: none;
    cursor: pointer;
    padding-right: 15px;
    text-align: center;
}
.header-box__language-select-wrap::after{
    content: url("../img/header/language-select-arrow.svg");
    position: absolute;
    top: 6px;
    right: 0;
    pointer-events: none;
}
.header-box__alerts-block {
    display: flex;
    flex-direction: row;
    margin-right: 36px;
}
.alert-block{
    position: relative;
}
.alert-block__counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    left: 12px;
    width: 17px;
    height: 17px;
    border: 2.4px solid white;
    border-radius: 13px;
    background-color: #EFF1F1;
    font-size: 10px;
}
.alert-block__counter_new{
    background-color: #FF5449;
    color: #fff;
}
.alert-block__image {
    cursor: pointer;
}
.alert-block:not(:last-child)> .alert-block__image{
    margin-right: 24px;
}
.user-menu__button{
    border: none;
    outline: none;
    padding: 0;
}
.user-menu__button.dropdown-toggle::after {
    display: none;
}
.user-menu__image{
    margin-right: 4px;
}
.user-menu .dropdown-item{
    font-size: 14px;
}
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.menu-list__link {
    height: 52px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    padding: 0 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}
.menu-list__link_active{
    border-bottom: 2px solid #444748;
    color: #444748;
}
/****************************************header syles end*****************************************************/
/****************************************main syles start*****************************************************/
.main-content {
    height: 100%;
    padding: 32px 0 115px;
}
.main-content__breadcrumb{
    margin-bottom: 40px;
}
.breadcrumb{
    --bs-breadcrumb-font-size: 12px;
    --bs-breadcrumb-divider-color: #A9ACAC;
    --bs-breadcrumb-item-active-color: #747778;
    --bs-breadcrumb-margin-bottom: 0;
}
.breadcrumb-item.active{
    font-family: 'Stolzl Book';
}
.main-content__headline {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 32px;
}
.main-content__wrap{
    display: flex;
    flex-direction: row;
}
.main-content__filter-block{
    margin-right: 24px;
}
.filter-block {
    width: 312px;
}
.filter-block__headline {
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #5C5F60;
}
.accordion {
    --bs-accordion-bg: #EFF1F1;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
    --bs-border-color-secondary: #EFF1F1;
    --bs-accordion-border-color: var(--bs-border-color-secondary);
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
}
.accordion-button::after {
    content: url("../img/main/filter-arrow.svg");
}
.accordion-item:not(:last-child) {
    margin-bottom: 4px;
}
.accordion-header {
    font-family: 'Stolzl Book';
    font-weight: 400;
    line-height: 1.5;
    color: #444748;
}
.accordion-button {
    font-size: 14px;
}
.accordion-collapse {
    background-color: #fff;
}
.accordion-body__text{
    font-family: 'Stolzl Book';
    color: #444748;
}
.accordion__price-range{
    margin-bottom: 25px;
}
.form-range::-webkit-slider-runnable-track{
    height: 4px;
    border: none;
    background-color: #C4C7C7;
}
.form-range::-webkit-slider-thumb{
    width: 16px;
    height: 16px;
    background-color: #5C5F60;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
.form-range::-webkit-slider-thumb:active{
    background-color: #5C5F60;
    box-shadow: none;
}
.form-range::-webkit-slider-thumb:not(:active){
    background-color: #5C5F60;
    box-shadow: none;
}

.form-range::-moz-range-track {
    height: 4px;
    border: none;
    background-color: #C4C7C7;
}
.form-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #5C5F60;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
} 
.form-range::-moz-range-thumb:active{
    background-color: #5C5F60;
    box-shadow: none;
}
.form-range::-moz-range-thumb:not(:active){
    background-color: #5C5F60;
    box-shadow: none;
}
.form-range.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}
.form-range.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#8E9192,#8E9192) 0/var(--sx) 100% no-repeat, #C4C7C7;
}
.form-range.slider-progress::-moz-range-track {
    background: linear-gradient(#8E9192,#8E9192) 0/var(--sx) 100% no-repeat, #C4C7C7;
}
.price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price-box div {
    width: 45%;
}
.price-box__label {
    font-family: 'Stolzl Book';
    font-size: 10px;
    color: #747778;
}
.price-box__input {
    font-family: 'Stolzl';
    line-height: 1.5;
    outline: none;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-bottom: 1px solid #C4C7C7;
    width: 100%;
}
.form-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-check__wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.form-check-input{
    width: 17px;
    height: 17px;
    border-color: #C4C7C7;
    background-color: #fff; 
    margin-top: 0;
    margin-right: 16px;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: #2D3132;
    border-color: #2D3132;
}
.form-check-input:not(:checked) {
    border-color: #C4C7C7;
    background-color: #fff; 
}
.form-check-input:focus {
    box-shadow: none;
}
.form-check-label{
    font-family: 'Stolzl Book';
}
.form-check__number{
    font-family: 'Stolzl Book';
    color: #747778;
}
.catalog-block {
    width: calc(100% - 312px);
}
.catalog-block__catalog-filter{
    margin-bottom: 24px;
}
.catalog-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-filter__text {
    font-size: 12px;
    color: #5C5F60;
    margin-right: 12px;
}
.catalog-filter__select {
    appearance: none;
    outline: 0;
    border: 0;
    flex: 1;
    padding: 8px 36px 8px 15px;
    font-size: 12px;
    color: #2D3132;
    background-color: #EFF1F1;
    background-image: none;
    cursor: pointer;
}
.catalog-filter__select::-ms-expand {
    display: none;
}
.catalog-filter__select-wrap{
    position: relative;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    height: 34px;
    border-radius: 100px;
    overflow: hidden;
}
.catalog-filter__select-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #EFF1F1;
    pointer-events: none;
    height: 34px;
    width: 30px;
    border-left: 1px solid white;
    background-image: url(../img/main/catalog-filter-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.catalog-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.catalog-content__catalog-card{
    margin-bottom: 24px;
}
.catalog-card {
    min-width: 312px;
    border: 1px solid #EFF1F1;
    border-radius: 4px;
    padding: 24px;
}
.catalog-card__headline-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-card__headline-wrap_organic{
    justify-content: space-between;
}
.catalog-card__heart-icon {
    cursor: pointer;
}
.catalog-card__image-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 284px;
    margin-bottom: 16px;
}
.catalog-card__badge_top {
    font-size: 10px;
    color: #00382F;
    text-transform: uppercase;
    background-color: #B4FFF0;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 400;
    line-height: 1.5;
    align-self: flex-start;
}
.catalog-card__badge_organic{
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: #2D3132;
    padding: 4px 8px;
    background-color: #E0E3E3;
    border-radius: 4px;
}
.catalog-card__brand-name {
    text-transform: uppercase;
    line-height: 1.5;
    color: #5C5F60;
    margin-bottom: 4px;
}
.catalog-card__name {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
}
.catalog-card__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalog-card__old-price {
    font-size: 12px;  
    color: #747778;
}
.catalog-card__current-price {
    font-weight: 500;
}
.catalog-card__location-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4px;
}
.catalog-card__location-icon {
    margin-right: 4px;
}
.catalog-card__location-city {
    font-family: 'Stolzl Book';
    font-size: 12px;
}
.catalog-card__company-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.catalog-card__company-logo {
    margin-right: 8px;
}
.catalog-block__pagination-box {
    padding-top: 35px;
}
.pagination-list__item:not(:last-child) {
    margin-right: 8px;
}
.pagination-list__link{
    width: 34px;
    height: 34px;
    font-size: 10px;
    font-weight: 500; 
    color: #5C5F60;
    border: 1.6px solid #C4C7C7;
    border-radius: 100px;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination-list__link_side-button{
    width: fit-content;
    width: -moz-fit-content;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 12px;
    height: auto;
}
.pagination-list__link:focus{
    box-shadow: none;
}
.page-item:first-child .page-link{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.page-item:last-child .page-link{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.active>.page-link{
    width: 40px;
    height: 40px;
    color: #2D3132;
    border-color: #2D3132;
    background-color: #fff;
}
/****************************************main syles end*******************************************************/
/****************************************footer syles start***************************************************/
.main-footer {
    background-color: #EFF1F1;
    padding: 72px 0 24px;
}
.main-footer__wrap {
    padding-bottom: 72px;
    border-bottom: 1px solid #C4C7C7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-block {
    width: 25%;
}
.footer-block__list-item:not(:last-child) {
    margin-bottom: 12px;
}
.footer-block__headline {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
}
.footer-block__link-image {
    display: inline-block;
}
.footer-copyright-block {
    padding: 38px 0 14px;
}
.main-footer__copyright-text {
    font-family: 'Stolzl Book';
    font-size: 12px;
}
/****************************************footer syles end*****************************************************/